.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-bottom: 1px solid #ddd;
}

.header {
  .hamburger {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
